<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>homecategoriebyid</name>
	<displayName><![CDATA[Homepage Category by ID]]></displayName>
	<version><![CDATA[0.1]]></version>
	<description><![CDATA[Display categories by ID on your homepage.]]></description>
	<author><![CDATA[themes.madalweb.com]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>